<div class="ui segment overview">
  <h2>Overview</h2>
  <p>{{articleCounts}} Numbers of Articles</p>
  <p>{{mediaCounts}} Articles with an Image</p>

  {{#if earliestPubDate}}
  <p>Earliest Published Date: {{earliestPubDate}}</p>
  {{/if}}
  {{#if latestPubDate}}
  <p>Latest Published Date: {{latestPubDate}}</p>
  {{/if}}
</div>

<div class="ui segment">
  <form class="ui form add-url">
    <div class="field">
      <label>Feed URL</label>
      <input required type="text" name="feedUrl" placeholder="Enter Feed URL and Add by press Add URL button">
    </div>

    <button class="ui button nice" type="submit">Add URL</button>
  </form>

  <div class="ui feeds-list">
    {{#each feedUrls}}
    <div class="item flex space-between feed-url">
      <div class="content">
        {{this}}
      </div>
      <div class="ui button mini">Delete</div>
    </div>
    <div class="ui divider"></div>
    {{/each}}
  </div>
</div>

<div class="ui segment">
  <div class="flex space-between">
    <h2>Articles</h2>
    {{#if feeds.length}}
    <div class="flex">
      <div>
        <div class="ui dropdown">
          <input type="hidden" name="sort">
          <label style="cursor: pointer">Sort By</label>
          <div class="default text sortby-text">{{sortby}}</div>
          <div class="menu">
            <div class="item" data-value="title">Title</div>
            <div class="item" data-value="description">Description</div>
            <div class="item" data-value="pubDate">Published Date</div>
          </div>
          <i class="dropdown icon"></i>
        </div>
      </div>
      <div class="ui checkbox sort-order">
        <input type="checkbox" name="sort-order" {{order}}>
        <label>Descend Order</label>
      </div>
    </div>
    {{/if}}

  </div>

  <div class="ui divided items">
    {{#if feeds.length}}
    {{#each feeds}}
    <div class="item">
      {{#if this.media}}
      <div class="image image-container">
        <img src={{this.media}} onclick="redirect('{{this.link}}')" alt="Article image" class="article-image" />
      </div>
      {{/if}}

      <div class="content">
        <div class="extra">
          Published Date - {{this.pubDate}}
        </div>
        <a class="header" href={{this.link}}>{{this.title}}</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description article-description">
          <p>{{this.description}}</p>
          <a>Read more...</a>
        </div>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="ui message info">
      <div class="header">
        No Feed URL
      </div>
      <ol class="list">
        <li>Please get feed url from the website you want to subscribe</li>
        <li>Enter the url in input field above and click "Add URL"</li>
      </ol>
    </div>
    {{/if}}
  </div>

</div>

<div class="ui inverted dimmer article-loader">
  <div class="ui large loader"></div>
</div>