<div class="ui segment">
  <h2>Overview</h2>
  <p>X Numbers of Articles</p>
  <p>Y Articles with an Image</p>

  <p>Earliest Published Date: mm/dd/yyyy hh:mm</p>
  <p>Latest Published Date: mm/dd/yyyy hh:mm</p>
</div>

<div class="ui segment">
  <div class="flex space-between">
    <h2>Articles</h2>
    <div class="ui dropdown">
      <input type="hidden" name="sort">
      <label style="cursor: pointer">Sort By</label>
      <div class="default text"></div>
      <div class="menu">
        <div class="item" data-value="0">Title</div>
        <div class="item" data-value="1">Description</div>
        <div class="item" data-value="2">Published Date</div>
      </div>
      <i class="dropdown icon"></i>
    </div>
  </div>


  {{#each feeds}}
  <div class="ui divided items">
    <div class="item">
      {{#if this.media}}
      <div class="image image-container">
        <img src={{this.media}} onclick="redirect('{{this.link}}')" alt="Article image" class="article-image" />
      </div>
      {{/if}}

      <div class="content">
        <div class="extra">
          Published Date - {{this.pubDate}}
        </div>
        <a class="header" href={{this.link}}>{{this.title}}</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p>{{this.description}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

</div>